@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');



.form-label {
    @apply font-semibold text-sm mb-1;
}

.form-input {
    @apply w-full border border-gray-300 rounded-lg py-2 px-4;
}

.placeholder-text {
    font-size: 14px;
}

.montserrat-alternates {
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .react-calendar__tile > abbr {
    display: none !important; /* Oculta el contenido predeterminado del calendario */
  }

  .react-calendar {
    width: 100% !important; /* Ocupar todo el ancho */
    max-width: none !important; /* Sin límite de ancho */
    border: none; /* Sin bordes */
    padding: 0; /* Sin relleno */
    background-color: transparent !important;
  }

  .react-calendar button{
    background-color: #fff !important;
  }
  
  .react-calendar__month-view__weekdays {
    text-transform: capitalize !important; 
    text-decoration: none !important;
    font-size:small;/* Asegúrate de que la primera letra sea mayúscula */
  }
  .react-calendar__navigation button {
    max-width: fit-content;
  }

 